# POSTGRES
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=postgres

# Database
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/postgres
# for testing
# DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/postgres

# Redis
REDIS_URL=redis://redis:6379
